* {
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
}

.App {
  background-image: url(https://image.shutterstock.com/image-illustration/illustration-nice-background-grey-stone-260nw-137549018.jpg);
  background-size: cover;
  height: 100vh;
}

.header {
  height: auto;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: bottom;
}

.divbody{
  background-image: url(https://img.lovepik.com/free_png/32/65/39/55358PICf7558PIC9b0f759qF_PIC2018.png_860.png);
  background-size: cover;
  background-repeat: no-repeat;
}


.username {
  color: white;
  font-size: 25px;
  justify-content: center;
}

.button {
  color: white;
  background-color: rgb(121, 20, 20);
  padding: 5px;
  margin: 2px;
  border-radius: 10px;
}

.input {
  justify-content: center;
  width: 240px;
}

.li {
  font-size: 14px;
}

.text {
  color: white;
}

::placeholder,
.box,
.list,
.title {
  color: black;
}

.text1 {
  font-size: 30px;
  color: white;
  text-decoration: none;
  padding: 10px 0px 30px;
}

.text2 {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.itemsb {
  color: white;
  font-size: 18px;
  display: flexbox;
  flex-direction: row;
}

.locationsb {
  color: black;
  padding: 3px;
  font-size: 18px;
}

.logout {
  color: black;
  padding: 2px;
  font-size: 18px;
  text-align: center;
}

.Appname {
  color: rgb(241, 242, 249);
  font-size: 150px;
}

.slogan {
  font-size: 80px;
}

.line {
  opacity: 0;
}

.footer {
  background-color:black;
  background-size: cover;
  color: white;
}

.kashiff {
  height: 20vh;
}

.reg,
.login {
  background-image: url(https://image.shutterstock.com/image-illustration/illustration-nice-background-grey-stone-260nw-137549018.jpg);
  background-size: cover;
  height: 110vh;
}

.user {
  font-size: 40px;
  -webkit-text-stroke: 0.7px black;
}

.home {
  color: white;
}


@media screen and (max-width: 760px) {
  .App {
    font-size: 1.5rem;
  }
  .Appname {
    font-size: 5rem;
  }
  .slogan {
    font-size: 2rem;
  }
}

@media screen and (max-width: 370px) {
  .Appname {
    font-size: 2rem;
  }
  .Appname {
    font-size: 5rem;
  }
  .slogan {
    font-size: 2rem;
  }
}
