
* {
  text-align: center;
  background-color: rgb(36, 36, 245);
}


.App {
  text-align: center;
  background-color: rgb(36, 36, 245);
}


.header{
  background-color: 3446EE;
  color: white;
}

.username {
  color: white;
}

.button{
  color: white;
  background-color:A4B8C4;
}

.itemsb{
  color: white;
  padding-right: 5px;
}

.locationsb {
  color: white;
  padding-left: 5px;
}