
* {
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;;
  
}


.header{
  height: auto;
  color: white;
 
  
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: bottom;
}



.username {
  color: white;
  font-size: 25px;
  
}

.button{
  color: white;
  background-color: rgb(121, 20, 20) ;
  padding: 5px;
  margin:2px;
  border-radius: 10px;
}


.li {
  font-size: 14px;
}

.text{
  color: white;
}

.box{
  color: black;
}


.text1{
  font-size: 30px;
  color: white;
  text-decoration: none;
  padding: 10px 0px 30px;
}

.text2{
  font-size: 30px;
  color: white;
  text-decoration: none;
}


.list{
  color:black;
}

.itemsb{
  color: white;
  padding: px;
  font-size: 18px;
  display: flexbox;
  flex-direction: row;
}

.locationsb {
  color:black;
  padding: 3px;
  font-size: 18px;
}

.logout {
  color: black;
  padding: 2px;
  font-size: 18px;
  text-align: center;
}

.title {
  color:black;
}

.Appname{
  color:rgb(241, 242, 249);
  font-size: 150px;
}


.slogan{
  font-size: 80px;
}

.line{
  opacity: 0;
}

.footer {
  background-image: url(https://image.shutterstock.com/image-illustration/illustration-nice-background-grey-stone-260nw-137549018.jpg);
  background-size: cover;
  height: 50px;
  color: white;
  position: relative;
  bottom: 0;
  box-shadow: 0 20vh 0 20vh #000;
  padding: 40px;
}


.reg, .login {
  background-image: url(https://image.shutterstock.com/image-illustration/illustration-nice-background-grey-stone-260nw-137549018.jpg);
  background-size: cover;
}

.user{
  font-size: 40px;
  -webkit-text-stroke: .7px black;
}

.home {
  color: white;
}

.mid{
  padding: 100px
}


.ch{
padding: 40px;
}






@media screen and (max-width: 760px) {
  .App {
    font-size: 1.5rem;
  }

  .Appname{
    font-size: 5rem;
  }

  .slogan{
    font-size: 2rem;
  }
}

@media screen and (max-width: 370px) {
  .Appname {
    font-size: 2rem;
  }
  .Appname{
    font-size: 5rem;
  }
  .slogan{
    font-size: 2rem;
  }
}